<ion-tabs>
  <ion-tab-bar color="d2dblue dtd-custom-tab-bar" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button style="margin-right: 40px;" tab="shoplist">
      <ion-icon class="pulse" aria-hidden="true" name="heart"></ion-icon>
      <ion-label>My List</ion-label>
    </ion-tab-button>

    <ion-tab-button color="light" [style]="android_cart_btn" class="cart-btn" tab="cart">
      <div>
        <ion-icon slot="icon-only" aria-hidden="true" name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button style="margin-left: 40px;" tab="checkout">
      <ion-icon aria-hidden="true" name="card"></ion-icon>
      <ion-label>Checkout</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<div class="back-btn-swiper">
  <ion-icon name="chevron-back-circle"></ion-icon>
</div>