.card-content {
    padding: 10px;
}

.sale-span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1da7c6;
    border-radius: 15px 0 20px 0;
    color: #fff;
    padding: 10px 20px 10px 20px;
    min-width: 60px;
    min-height: 20px;
    display: inline-block;
    position: unset;
    font-weight: bold;
    font-size: 12px;
    width: 60%;
}

.shoplist-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.product-box {
    background-color: #ffffff;
    border-radius: 12px;
    filter: drop-shadow(5px 5px 14px  rgba(0,0,0,0.1));
    height: 100%;
    p {
        font-size: 12px;
    }
}