.product-quick-links {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
}

.product-image {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 6px;
}

h2 {
    margin-top: 18px;
    font-size: 15px;
    padding: 0px 0px 0px 20px;
}

h3 {
    margin-bottom: 30px;
}

.loggedin-h2{
    font-size: large;
    min-height: 30px;
    span {
        display: block;
        float: right;
        padding-right: 20px;
        font-size: 15px;
        color: #00829F;
    }
}

.main-content-div {
    background-color: #ffffff;
    color: #000000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
    min-height: 100%;
}

.main-content-div ion-col {
    // filter: drop-shadow(5px 5px 14px  rgba(0,0,0,0.26));
    // background-color: #ffffff;
    padding: 10px;
}

ion-searchbar {
    z-index: 100;
}

.search {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    opacity: 0.93;
    filter: drop-shadow(5px 5px 14px  rgba(0,0,0,0.26));
    height: 83vh;
    overflow: scroll;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search ion-list {
    overflow: scroll;
}

.search h3 {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0px 0px 0px 20px;
}

.search ion-thumbnail {
    margin: 10px;
    aspect-ratio: 1/1;
    width: 100%;
    height: 90%;
}

.sale-span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00829F;
    border-radius: 15px 0 20px 0;
    color: #fff;
    padding: 10px 20px 10px 20px;
    min-width: 60px;
    min-height: 20px;
    display: inline-block;
    position: unset;
    font-weight: bold;
    font-size: 12px;
}

.shoplist-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

// ADJUST IMAGE BOUNDING BOX
.product-img {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

.product-img:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.product-img img {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    margin: auto;
}

ion-thumbnail {
    margin: 10px;
    aspect-ratio: 1/1;
    width: 20%;
}

.user-menu p{
    font-size: 0.8em;
}
.user-menu ion-avatar {
    color: #ffffff;
    // display: block;
}

.category-list {
    border-radius: 10px;
}

.category-list p{
    padding-left: 10px;
}

.sub-category {
    text-align: center;
    ion-thumbnail {
        margin: 0 auto;
        aspect-ratio: 1/1;
        width: 60%;
        height: 53%;
    }
    ion-thumbnail img {
        width: 80%;
        height: 80%;
    }
    p {
        font-size: small;
    }
}

.sub-category-container {
    text-align: center;
}

ion-accordion {
    margin-bottom: 20px;
}

ion-spinner {
    margin: 10px auto;

}

.loading-spinner {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    ion-spinner {
        margin: 0 auto;
    }
}

@media (prefers-color-scheme: dark) {
    /*
     * Dark Colors
     * -------------------------------------------
     */

     .product-grid {
        color: #1c1c1c;
     }

    //  .main-content-div ion-item {
    //     --background: #FFF !important;
    //  }

     .product-quick-links ion-icon{
        color: #1c1c1c;
     }
}