<ion-content color="light" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="ligth">
      <ion-title size="large">Account Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item class="loading-spinner" *ngIf="!customers">
    <ion-spinner name="circles"></ion-spinner>
  </ion-item>
  <ion-list *ngIf="customers" [inset]="true">
    <ion-avatar class="customer-image">
      <img alt="User Profile Icon" [src]="customers.customer.avatar_url" />
    </ion-avatar>
    <ion-item>
      <ion-label color="d2dblue">
        <small>{{customers.customer.username}}</small>
        <h2>{{customers.firstName}} {{customers.lastName}}</h2>
      </ion-label>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Details </ion-label>
      </ion-item-divider>
    </ion-item-group>
    <ion-item *ngIf="customers.customer?.date_created">
      <ion-label>
        <small>{{customers.role}} since {{formatDate(customers.customer.date_created)}} </small>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="customers.email">
      <ion-label>
        <small>Email</small>
        <p>{{customers.email}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="customers.customer?.billing.phone">
      <ion-label>
        <small>Phone</small>
        <p>{{customers.customer.billing.phone}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="orders" lines="none">
      <small>Previous order</small>
      <div class="ordersDiv">
        <ion-chip color="d2dblue" *ngFor="let lineorders of orders">
          <ion-avatar>
            <img [src]="imageURL(lineorders.image)" />
          </ion-avatar>
          <ion-label>{{lineorders.name}}</ion-label>
        </ion-chip>
      </div>
    </ion-item>
    <ion-button *ngIf="orders" (click)="orderAgain()" class="order-again-btn" color="d2dblue" shape="round" expand="block" fill="solid">Order again</ion-button>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Billing </ion-label>
      </ion-item-divider>
    </ion-item-group>
    <ion-item>
      <ion-label>
        <p>{{customers.customer.billing.address_1}} {{customers.customer.billing.address_2}}</p>
        <p>{{customers.customer.billing.city}} {{customers.customer.billing.postcode}} {{customers.customer.billing.state}}  {{customers.customer.billing.country}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <small>Company:</small>
        <p>{{customers.customer.billing.company}}</p>
      </ion-label>
    </ion-item>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Delivery </ion-label>
      </ion-item-divider>
    </ion-item-group>
    <ion-item lines="none">
      <ion-label>
        <p>{{customers.customer.shipping.address_1}} {{customers.customer.shipping.address_2}}</p>
        <p>{{customers.customer.shipping.city}} {{customers.customer.shipping.postcode}} {{customers.customer.shipping.state}}  {{customers.customer.shipping.country}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="!customers.customer.shipping.address_1">
      <form id="addressForm" (ngSubmit)="setDeliveryAddress()">
        <ion-grid class="delivery-address-form">
          <ion-row>
            <ion-col>
              <ion-label>
                <h5>You don't have a delivery address set</h5>
                <p>Set a delivery address</p>
              </ion-label>
              <ion-item lines="full">
                <ion-input required [(ngModel)]="address_1" [ngModelOptions]="{standalone: true}"  type="text" placeholder="Address 1*"></ion-input>
            </ion-item>
            </ion-col>
            </ion-row>
            <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-input required [(ngModel)]="address_2" [ngModelOptions]="{standalone: true}"  type="text" placeholder="Address 2"></ion-input>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="full">
                <ion-select required [(ngModel)]="state" (ionChange)="citySelections($event)" [ngModelOptions]="{standalone: true}" label="Select" placeholder="Municipality*">
                  <ion-select-option color="d2dblue" *ngFor="let state of location_listing" [value]="state.state">{{state.state}}</ion-select-option>
                </ion-select>
            </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="full">
                <ion-select required [(ngModel)]="city" [ngModelOptions]="{standalone: true}" label="Select" placeholder="City*">
                  <ion-select-option *ngFor="let city of city_locations" [value]="city">{{city}}</ion-select-option>
                </ion-select>
            </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-item>
    <ion-item *ngIf="!customers.customer.shipping.address_1">
      <ion-button style="clear: both;" type="submit" color="d2dblue" expand="block" fill="solid" form="addressForm" [disabled]="!address_1 || !state || !city">Update</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
